{% extends 'base.html'%}

{% block encabezado %}Mi escritorio{% endblock %}
{% block content %}
{% load staticfiles %}
<div class="content">
   <div class="container-fluid">
        <div class="row">
            <!-- RECORDATORIOS -->
            <div class="col-lg-6 col-md-6">
                <div class="card card-user">
                    <div class="row">
                        <div class="header">
                            <h4 class="title">Recordatorios</h4>
                            <br>
                            {% for i in '1234' %}
                            <div class="col-lg-1">
                                <label class="checkbox checkbox-blue" for="checkbox1">
                                    <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox" checked>
                                </label>
                            </div>
                            <div class="col-lg-11">
                                <input type="email" class="form-control border-input" placeholder="Nuevo recordatorio">
                                <br>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN RECORDATORIOS -->

            <!-- NOTIFICACIONES -->
            <div class="col-lg-6 col-md-6">
                <div class="card card-user">
                    <div class="row">
                        <div class="header">
                            <h4 class="title">Notificaciones</h4>
                            <br>
                            <div class="alert alert-info">
                                <div class="container-fluid">
                                    <div class="alert-icon"></div>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"><i class="material-icons">X</i></span>
                                    </button>
                                    <b>Nueva notificación:</b> 12/06/16-Cardiología-Carla Fernandez ha cancelado su hora
                                </div>
                            </div>

                            {% for i in '123' %}
                            <div class="alert alert-info">
                                <div class="container-fluid">
                                    <div class="alert-icon">
                                    </div>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"><i class="material-icons">X</i></span>
                                    </button>
                                    <b>Nueva notificación:</b> {{ i }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN NOTIFICACIONES -->

            <!-- CALENDARIO -->
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Calendario</h4>
                        <p class="category">Próximas horas</p>
                        <div class="card card-user">
                            <div class="image">
                                <img scr="{% static 'img/archivo.jpg' %}" width="2" height="20" border="0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN CALENDARIO -->
        </div>
    </div>
</div>
{% endblock %}
