{% extends 'base.html'%}

{% block body %}
{% load staticfiles %}

<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
        Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
        Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
    -->

        <div class="sidebar-wrapper">
            <div class="logo">
                <div class="logo">
                <img src="{% static 'img/Pointlogo.png' %}" alt="Logo Point" style="width:230px;height:120px;">
            </div>
            </div>

            <ul class="nav">
                <li>
                    <a href="{% url 'home' %}">
                        <i class="ti-panel"></i>
                        <p>Panel Principal</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'user' %}">
                        <i class="ti-user"></i>
                        <p>Nuevo paciente</p>
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'waitlist' %}">
                        <i class="ti-view-list-alt"></i>
                        <p>Lista de espera</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'appointments' %}">
                        <i class="ti-text"></i>
                        <p>Toma de horas</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'calendar' %}">
                        <i class="ti-calendar"></i>
                        <p>Calendario</p>
                    </a>
                </li>
                <li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Lista de espera</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            </br>
                            <div class="col-xs-20">
                                <input type="text" value="" placeholder="Buscar paciente, doctor, etc." class="form-control" />
                            </div>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-bell"></i>
                                    <p class="notificaciones">4</p>
                                    <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Correo Doctor Ramírez</a></li>
                                <li><a href="#">Hora cancelada</a></li>
                                <li><a href="#">Recordatorio: llamar a Angélica</a></li>
                                <li><a href="#">Hora cancelada</a></li>
                              </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="btn-group open">
                    <a class="btn btn-primary" href="#"><i class="fa fa-info fa-fw"></i> Especialidades</a>
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'cardiologia' %}"> Cardiología</a></li>
                        <li><a href="{% url 'traumatologia' %}"> Traumatología</a></li>
                        <li><a href="{% url 'urologia' %}"> Urología</a></li>
                        <li><a href="{% url 'urologia' %}"> Gastroenterlogía</a></li>
                        <li><a href="{% url 'urologia' %}"> Oftalmología</a></li>
                        <li><a href="{% url 'urologia' %}"> Otorrinolaringología</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'todas' %}"> Ver todas...</a></li>
                    </ul>
                </div>
                </br>
                </br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Cardiología</h4>
                                <p class="category">Lista de espera actualizada</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead>
                                        <th>Posición</th>
                                        <th>Nombre</th>
                                        <th>Ranking</th>
                                        <th>Asignar hora</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Dakota Rice</td>
                                            <td>36,738</td>
                                            <td><a href="#"><i class= "ti-pencil-alt"></i> </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Minerva Hooper</td>
                                            <td>23,789</td>
                                            <td><a href="#"><i class= "ti-pencil-alt"></i> </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Sage Rodriguez</td>
                                            <td>56,142</td>
                                            <td><a href="#"><i class= "ti-pencil-alt"></i> </td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Philip Chaney</td>
                                            <td>38,735</td>
                                            <td><a href="#"><i class= "ti-pencil-alt"></i> </td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Doris Greene</td>
                                            <td>63,542</td>
                                            <td><a href="#"><i class= "ti-pencil-alt"></i> </td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Mason Porter</td>
                                            <td>78,615</td>
                                            <td><a href="#"><i class= "ti-pencil-alt"></i> </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">POINT Team</a>
                </div>
            </div>
        </footer>


    </div>
</div>
{% endblock %}