{% extends 'base.html'%}
{% block encabezado %}Lista de espera{% endblock %}
{% block content %}
{% load staticfiles %}

        <div class="content">
            <div class="container-fluid">
                <div class="btn-group">
                    <a class="btn btn-primary" href="#"><i class="fa fa-info fa-fw"></i> Especialidades</a>
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'cardiologia' %}"> Cardiología</a></li>
                        <li><a href="{% url 'traumatologia' %}"> Traumatología</a></li>
                        <li><a href="{% url 'urologia' %}"> Urología</a></li>
                        <li><a href="{% url 'urologia' %}"> Gastroenterlogía</a></li>
                        <li><a href="{% url 'urologia' %}"> Oftalmología</a></li>
                        <li><a href="{% url 'urologia' %}"> Otorrinolaringología</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'todas' %}"> Ver todas...</a></li>
                    </ul>
                </div>
                <br>
                <br>


            </div>
        </div>
{% endblock %}
