{% extends 'base.html'%}

{% block encabezado %}Perfil del paciente{% endblock %}
{% block content %}
{% load staticfiles %}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-5">
          <div class="card card-user">
              <div class="image">
                  <img src="{% static 'img/background.jpg' %}" alt="..."/>
              </div>
              <div class="content">
                  <div class="author">
                      <img class="avatar border-white" src="{% static 'img/faces/face-2.jpg' %}" alt=""/>
                      <h4 class="title">Pedro el Barbudo<br></h4>
                  </div>
                  <br>
                  <div class="btn-group">
                      <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Seleccionar notificación<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">e-mail</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sms</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Llamada telefónica</a></li>
                          <li role="presentation" class="divider"></li>
                      </ul>
                  </div>
              </div>
              <hr style="margin-right: 0px;">
              <div class="text-center">
                  <ul class="list-unstyled team-members" style="text-align: left; padding-left: 15px">
                      <li>
                          <div class="row" style="padding-bottom: 5px;">
                              <div class="col-xs-9">
                                  Ranking
                              </div>
                              <div class="col-xs-3">
                                  <span class="badge">5</span>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="row">
                              <div class="col-xs-9">
                                  Historial de consultas
                              </div>
                              <div class="col-xs-3">
                                  <span class="badge">14</span>
                              </div>
                          </div>
                      <br>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="card">
              <div class="header">
                  <h4 class="title">Miembros de la familia</h4>
              </div>
              <div class="content">
                  <ul class="list-unstyled team-members">
                      {% for i in '123' %}
                      <li>
                          <div class="row">
                              <div class="col-xs-3">
                                  <div class="avatar">
                                      <img src="{% static 'img/faces/face-0.jpg' %}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                  </div>
                              </div>
                              <div class="col-xs-6">
                                  Familiar {{ i }}
                                  <br>
                              </div>
                              <div class="col-xs-3 text-right">
                                  <btn class="btn btn-sm btn-success btn-icon"><i class="fa fa-envelope"></i></btn>
                              </div>
                          </div>
                      </li>
                      {% endfor %}
                  </ul>
              </div>
          </div>
      </div>
      <div class="col-lg-8 col-md-7">
        <div class="card">
          <div class="header">
              <h4 class="title">Ingresar nuevo paciente</h4>
          </div>
          <div class="content">
            <form action="{% url 'user' %}" method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control border-input" placeholder="Ingresar nombre" name="nombre">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Apellido</label>
                    <input type="text" class="form-control border-input" placeholder="Ingresar apellido" name="apellido">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Fecha de nacimiento</label>
                    <input type="text" class="form-control border-input" placeholder="DD/MM/AA" name="fecha">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label>Rut</label>
                    <input type="text" class="form-control border-input" placeholder="11111111-k" name="rut">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Dirección</label>
                     <input type="text" class="form-control border-input" placeholder="Ingresar dirección">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control border-input" placeholder="paciente@point.cl">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="seguro">Seguro</label>
                    <input type="text" class="form-control border-input" placeholder="Seguro médico" name="seguro">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Teléfono de contacto</label>
                    <input type="number" class="form-control border-input" placeholder="09-XXXXXXXX">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Ficha médica</label>
                    <textarea rows="5" class="form-control border-input" placeholder=""></textarea>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-info btn-fill btn-wd">Guardar</button>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}